/* Type Selectors ------------------ */

body {
  color: #878787;
  margin: 0;
  font-size: 1em;
}

h1 {  
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}


/* Pseudo-classes ------------------ */

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

a:active {
  color: lightcoral;
}

/* ID Selectors -------------------- */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/* Class Selectors ----------------- */

.main-header {
  background-color: orange;
}
/* If we set font size in 'em' in body for 1em and 3em in '.title' - the title will be have one font size.
If we dont change font size in title (still 3 em), but change it in 'body' for 2em - the '.title' will change
his font size.
It shows us the dependence class selector 'title' from type selector 'body'.
The one selector inherits value from another.
*/
.title {
  color: white;
  font-size: 3em;
}

.primary-content, 
.secondary-content {
  width: 60%;
}


.primary-content {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey; /* Top border styles */
}


